In [ ]:
import numpy as np
import pandas as pd
import math

In [ ]:
aadhar = input("Enter aadhar number: ")
district=input("Enter district: ")
state=input("Enter state: ")
crop=input("Crop grown: ")
area=int(input("Area of land(hectares): "))
season_of_crop=input("Season of crop: ")
fertilizer=input("Fertilizer applied or not: ")
pesticide=input("Pesticide applied or not: ")

Enter aadhar number012345678912
Enter districtkharagpur
Enter stateWest Bengal
Crop grownwheat
Area of land2
Season of croprabi
Enter fertilizer1000
Enter pesticide1000

In [ ]:
amount_requested=int(input("Enter loan amount: "))
interest=int(input("Enter interest rate: "))

Enter loan amount10000
Enter duration2
Enter interest rate3

In [ ]:
area=int(area)/2.47

In [ ]:
continue_to_next_inference=1

In [ ]:
def check_aadhar(aadhar_no):
    if len(aadhar_no)==12: # Basic aadhar checking
        return True
    else:
        return False

In [ ]:
if(check_aadhar(aadhar)==False):
  continue_to_next_inference=0

In [ ]:
average_yield={"wheat": 2.64,
               "rice": 3.46,}

In [ ]:
# https://pib.gov.in/PressReleasePage.aspx?PRID=1657457#:~:text=The%20highest%20increase%20in%20MSP%20has%20been%20announced,Rs%2050%20per%20quintal%20respectively%20has%20been%20announced.
# https://static.pib.gov.in/WriteReadData/specificdocs/documents/2021/sep/doc202191311.pdf

In [ ]:
average_price={"wheat": 41463,
               "rice": 39614}
average_cost_of_production={"wheat": 20563,
                            "rice": 19654}

In [ ]:
average_income=0

In [ ]:
if(crop=="wheat"):
  average_income=area*average_yield["wheat"]*(average_price["wheat"]-average_cost_of_production["wheat"])
if(crop=="rice"):
  average_income=area*average_yield["rice"]*(average_price["rice"]-average_cost_of_production["rice"])

In [ ]:
amount_requested=10000

In [ ]:
average_income

44676.92307692308

In [ ]:
def score(req,income):
  ratio=req/income
  c=50 # Parameter
  return 100*((c**ratio)-1)/((c**ratio)+1)

In [ ]:
if(continue_to_next_inference!=0):
  final_score=score(amount_requested,average_income)
  if(final_score>0.8):
    continue_to_next_inference=0

In [ ]:
if(continue_to_next_inference):
  print("Move to next stage")
else:
  print("Loan rejected")

Move to next stage